.bracket-animation {
  animation: bracket 3s ease-in infinite both;
}

@keyframes bracket {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  40% {
    transform: translateY(0);
    opacity: 1;
  }

  60% {
    transform: translateY(0) rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: translateY(30px) rotate(360deg);
    opacity: 0;
  }
}