.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-top: -3.75em;
  color: var(--secondary-fixed);
  background-color: var(--on-secondary-fixed);
  border-radius: 0 0 40px 40px;
  overflow: hidden;
}

.main-section__wrapper {
  padding: 0;
}

.main-section__title {
  font-size: 3.25em;
  line-height: 1.25em;
  background-image: linear-gradient(to left, #00ffff,  #6750A4);
  color: transparent;
  background-clip: text;
}

.main-section__subtitle {
  display: flex;
  gap: var(--spacing-xl);
  margin-left: 30px;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 122%;
}

.section-margin {
  margin-bottom: 120px;
}

@media (min-width: 576px) {
  .main-section {
    border-radius: 0 0 70px 70px;
  }

  .main-section__subtitle {
    margin-left: 50px;
    font-size: 2.25em;
  }

  .section-margin {
    margin-bottom: 160px;
  }
}

@media (min-width: 768px) {
  .main-section__title {
    font-size: 6.25em;
  }
}