.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 200px);
  margin-top: -3.75em;
  margin-bottom: 160px;
  color: var(--secondary-fixed);
  background-color: var(--on-secondary-fixed);
  border-radius: 0 0 70px 70px;
  overflow: hidden;
}

.main-section__wrapper {
  padding: 0;
}

.main-section__title {
  font-size: 6.25em;
  line-height: 1.25em;
  background-image: linear-gradient(to left, #00ffff,  #6750A4);
  color: transparent;
  background-clip: text;
}

.main-section__subtitle {
  display: flex;
  gap: var(--spacing-xl);
  margin-left: 50px;
}

.projects-section {
  margin-bottom: 160px;
}