:root {
  --z-index-level-1: 100;
  --z-index-level-2: 90;
  --z-index-level-100: 1;

  --opacity-highest: 0.1;
}

:root {
  --spacing-sm: 0.25em;
  --spacing-md: 0.5em;
  --spacing-l: 1em;
  --spacing-xl: 1.5em;
  --spacing-xxl: 2em;
}

:root {
  --elevation-1: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  --elevation-2: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  --elevation-3: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  --elevation-4: 0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 4px rgba(0, 0, 0, 0.15);
  --elevation-5: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 8px 12px 6px rgba(0, 0, 0, 0.15);
}

:root {
  --primary: #6750a4;
  --on-primary: #ffffff;
  --primary-container: #eaddff;
  --on-primary-container: #21005d;

  --secondary: #625b71;
  --on-secondary: #ffffff;
  --secondary-container: #e8def8;
  --on-secondary-container: #1d192b;
  --secondary-fixed: #e8def8;
  --on-secondary-fixed: #1d192b;

  --tertiary: #7d5260;

  --error: #b3261e;
  --on-error: #fff;

  --surface: #fef7ff;
  --on-surface: #1d1b20;
  --surface-container-low: #f7f2fa;
  --surface-container-highest: #e6e0e9;
  --on-surface-variant: #49454f;

  --outline: #79747e;
  --outline-variant: #cac4d0;

  --info: #35defc;  
  --success: #5df80f;

  --opacity-noise: var(--opacity-highest);
}

[data-theme=dark] {
  --primary: #d0bcff;
  --on-primary: #381e72;
  --primary-container: #4f378b;
  --on-primary-container: #eaddff;

  --secondary: #ccc2dc;
  --on-secondary: #332d41;
  --secondary-container: #4a4458;
  --on-secondary-container: #e8def8;
  --secondary-fixed: #e8def8;
  --on-secondary-fixed: #1d192b;

  --tertiary: #efb8c8;

  --error: #f2b8b5;
  --on-error: #601410;

  --surface: #141218;
  --on-surface: #e6e0e9;
  --surface-container-low: #1d1b20;
  --surface-container-highest: #36343b;
  --on-surface-variant: #cac4d0;

  --outline: #938f99;
  --outline-variant: #49454f;

  --info: #35defc;  
  --success: #5df80f;

  --opacity-noise: var(--opacity-highest);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--surface);
  color: var(--on-surface);
  font-size: 14px;
}

@media (min-width: 599px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1899px) {
  body {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

input {
  margin: 0;
}

.noise {
  position: relative;
}
.noise::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/public/bg-noise.png') repeat;
  opacity: var(--opacity-noise);
}

.scroll-to-element {
  height: 60px;
  margin-top: -60px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--spacing-xxl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Типографика */
.typography-display-large {
  font-weight: 400;
  font-size: 3.56em;
  line-height: 112%;
  letter-spacing: 0em;
}

.typography-display-medium {
  font-weight: 400;
  font-size: 2.81em;
  line-height: 116%;
}

.typography-display-small {
  font-weight: 400;
  font-size: 2.25em;
  line-height: 122%;
}

.typography-headline-large {
  font-weight: 400;
  font-size: 2em;
  line-height: 125%;
}

.typography-headline-medium {
  font-weight: 400;
  font-size: 1.75em;
  line-height: 129%;
}

.typography-headline-small {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 133%;
}

.typography-title-large {
  font-weight: 400;
  font-size: 1.38em;
  line-height: 127%;
}

.typography-title-medium {
  font-weight: 500;
  font-size: 1em;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.typography-title-small {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 143%;
  letter-spacing: 0.01em;
}

.typography-label-large {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 143%;
  letter-spacing: 0.01em;
}

.typography-label-medium {
  font-weight: 500;
  font-size: 0.75em;
  line-height: 133%;
  letter-spacing: 0.04em;
}

.typography-label-small {
  font-weight: 500;
  font-size: 0.688em;
  line-height: 145%;
  letter-spacing: 0.05em;
}

.typography-body-large {
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.typography-body-medium {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 143%;
  letter-spacing: 0.02em;
}

.typography-body-small {
  font-weight: 400;
  font-size: 0.75em;
  line-height: 133%;
}
